/* Jumbotron  */
.jumbotron {
    background-image: url(../images/IMG_0279.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(70vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 500px;
    color: rgb(228, 214, 16);
    font: "fantasy";
    font-weight: bolder;
    text-shadow: 1px 1px 1px red, 2px 2px 1px red;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    letter-spacing: 4px;
    word-spacing: 4px;
  }